* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #ccc;
  padding: 0;
  margin: 0;
}

.gradient {
background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.borders {
    border: 1px solid white;
}

.row {
    height: inherit;
}

.container {
    height: inherit;
}