body {
    background: #212020 !important;
}

.container {
    background: #212020 !important;
}

.calc {
    background: #212020 !important;
    transition: .5s all;
}

.theme {

    background: #ffffff !important;
    box-shadow: 0 0 10px rgba(39,38,40,0.4) !important;
    transition: .3s all;
}

.results {
    color: white;
}