body {
    background: #ffffff !important;
    transition: .3s all;
}

.container {
    background: #ffffff !important;
    transition: .3s all;
}

.calc {
    background: #ffffff !important;
    transition: .3s all;
}

.theme {

    background: #222222 !important;
    box-shadow: 0 0 10px rgba(255,255,255,0.1) !important;
    transition: .3s all;
}

.results {
    color: black;
    transition: .3s all;
}